[2017-07-30 18:45] dashcraft opened #2 "Twitch link on about us page"
On the about us page, I think that having this
![image](https://user-images.githubusercontent.com/11915975/28756084-406b4c0e-752d-11e7-9b93-39b31eeda946.png)

as a link to twitch.tv/techlahoma would be a great idea.
Feel free to make these changes on your fork and submit a pull request, referencing this issue!

[2017-07-30 18:53] dashcraft opened #3 "Break out Dir folders"
The current folder structure is:
![image](https://user-images.githubusercontent.com/11915975/28756151-66b7915a-752e-11e7-9a2a-6d9f0e2fa74d.png)

This should be flat for now, for example:
index.html
aboutus.html
projects.html
blog.html

[2017-07-31 14:32] CarsonMcKinstry opened #4 "[On-Going] Resources Page"
Many new people to coding, don't know where to look for resources on what they are learning.

We will need to create a page for posting links to resources that students can use to learn.

[2017-07-31 15:26] kacollins commented on #2
Add a link on any other references to Twitch on the website while you're at it!

[2017-07-31 15:35] mstub commented on #2
Would like to take this on if no one else has started on it, noted a couple spots to update the link to Twitch.

Also would you like aboutus.html to mirror the starspace46 link like the index.html does?

[2017-07-31 18:47] mstub commented on #3
Daniel, to make sure I understand this issue correctly you are just wanting to remove the subfolders for the other pages, place all page content in the main folder and rename files accordingly, then correct the links/file paths appropriately?

[2017-07-31 20:02] dashcraft commented on #3
Yes, you are correct.

Also, they need to be moved to the /dist folder

Right now there are duplicates

[2017-07-31 20:03] #2 closed

[2017-07-31 23:32] dashcraft opened #6 "Create a Contributors section"
On the about us page, let's create a contributors section so we can recognize those that help us in creating and modifying this website.

It can look exactly like the organizers section.

[2017-07-31 23:35] dashcraft opened #7 "About us section"
We should change the organizers and volunteers to show the following

Organizers
Daniel Ashcraft (co-organizer)
Kimberly Collins (co-organizer)
Carson McKinstry (co-organizer)
Jennifer Gladney (co-organizer)

Volunteers
Ava Pipher
Brent Shambaugh

[2017-08-01 00:26] dashcraft commented on #7
They should also be clickable links to the following (we can add the others as we find them)

Daniel Ashcraft (co-organizer) link: https://github.com/dashcraft
Kimberly Collins (co-organizer) link : https://github.com/kacollins
Carson McKinstry (co-organizer) link: https://github.com/CarsonMckinstry
Jennifer Gladney (co-organizer) link:

Ava Pipher
Brent Shambaugh

[2017-08-01 05:27] #3 closed

[2017-08-01 13:10] mstub commented on #4
I'd like to go ahead and add a resources page if no one has started, will keep similar format..

Also can throw the resources Carson and Myself threw out yesterday in the slack channel and then we can add more as we go

[2017-08-02 13:47] mstub commented on #7
I believe the current page shows Jack Kinsey as an organizer, do we want to remove him at this time?
Also, the current link for Jennifer Gladney points to her Meetup Profile, do we want to leave this in place?

I was thinking of splitting up the Organizers and Volunteers with separate subsections and headings, is this the direction you were thinking?

[2017-08-02 14:41] dashcraft commented on #4
It's meant to be wiki style, so it can be edited and revised as needed. If you want to add some items in an appropriate manner, get with carson on design and add them 👍

[2017-08-02 20:00] mstub opened #10 "Mobile Device"
Navigation Bar does not display on mobile devices

[2017-08-03 20:46] dashcraft opened #11 "Social icons for contact page"
Can we get some flat black social icons for the links to our contact information on the contact us page? That would be great!

[2017-08-06 18:34] CarsonMcKinstry commented on #7
Solved by #13

[2017-08-06 18:34] #7 closed

[2017-08-06 18:34] CarsonMcKinstry commented on #6
Solved by #13

[2017-08-06 18:34] #6 closed

[2017-08-09 02:46] mstub opened #16 "favicon"
The favicon was not update across all pages, was this intentional?

[2017-08-09 02:55] kacollins opened #17 "Techlahoma"
Add more information about Techlahoma and links to techlahoma.org and meetup.com/pro/Techlahoma.

[2017-08-09 02:58] kacollins opened #18 "Contributors"
Typo in Contributors section on the About page

[2017-08-09 03:00] kacollins opened #19 "Slack"
Add information about what Slack is and how to get to the freecodecamp channel in Slack

[2017-08-09 03:06] kacollins opened #20 "Free Code Camp"
On the About page, add a link to freecodecamp.com and remove the references to Node and Angular. Angular is no longer in the curriculum, and Node is not really a major part.

[2017-08-09 03:13] kacollins opened #21 "Pictures"
Add pictures from past meetups so people know what to expect

[2017-08-09 03:14] kacollins opened #22 "StarSpace46 Parking"
Add link to parking map for StarSpace46, available at https://www.starspace46.com/contact/

[2017-08-09 03:20] CarsonMcKinstry commented on #16
Nope! I derped a bit. Feel free to tackle adding them to the other pages.

Take a look at these lines to figure out how to do it:
https://github.com/FreeCodeCampOKC/fccokc_web/blob/master/docs/index.html#L18-L19

[2017-08-09 03:40] CarsonMcKinstry opened #23 "Twitch Stream"
## RESEARCH NEEDED

Since we stream on Twitch most Sundays, it would be nice to see our stream simulcast here as well, if possible (it may not be possible since we stream through the Techlahoma account).

[2017-08-09 03:46] CarsonMcKinstry opened #24 "Twitch Recordings"
Display the Free Code Camp specific videos from Twitch. Should be watchable without going to Twitch. It would be nice to have the list of videos, the currently being played video can be swapped out for.

**TIP:** Take a look the sharing options for videos on Twitch.

**Resource:** https://www.twitch.tv/techlahoma/videos/all

[2017-08-09 03:49] kacollins opened #25 "YouTube Playlist"
Add link to our YouTube playlist: https://www.youtube.com/watch?v=2fJkaSrMAOs&list=PLdW0ayjzW_LC3r4TIg08APaJlgtI9t8BH

[2017-08-09 03:53] CarsonMcKinstry commented on #23
Found a resource that may be useful, if someone wants to tackle this:

https://dev.twitch.tv/docs/v5/guides/embed

[2017-08-09 03:54] CarsonMcKinstry commented on #24
Hint: A JS library or framework could be used to accomplish this.

[2017-08-09 19:14] #18 closed

[2017-08-10 02:44] kasifrass commented on #25
I would like to take this (so I can get acquainted with GitHub).

[2017-08-11 02:57] #16 closed

[2017-08-19 01:36] CarsonMcKinstry commented on #25
@kasifrass Go for it! Once you're done don't forget to open a pull request!

[2017-08-22 14:45] kacollins opened #35 "GitHub Repo"
Add a link to this github repo and information about how to contribute on the projects page

[2017-08-22 14:46] kacollins opened #36 "Readme"
Add more information to the readme for this repo

[2017-08-22 14:47] kacollins opened #37 "Contributing"
Add a CONTRIBUTING.md markdown file that explains how to contribute to this repo.

[2017-08-22 14:49] kacollins opened #38 "Facebook"
Add a link to the Facebook group: https://www.facebook.com/groups/free.code.camp.oklahoma.city

[2017-08-22 14:59] kacollins opened #39 "Meetup Recaps"
Add summaries of what we learned at past meetups on the blog page

[2017-08-22 15:01] kacollins opened #40 "Projects"
Add summaries and links for our GitHub repositories to the projects page

[2017-08-23 01:40] mstub commented on #20
I believe this issue was closed out on Pull Request 29, don't know why it's showing open still, @CarsonMcKinstry?

[2017-08-23 02:25] CarsonMcKinstry commented on #22
Make the map more mobile friendly.

Having the map stack under the text would be a good idea.

[2017-08-23 04:45] stu7 commented on #19
There is already some Slack info with a link on the index.html page. Are you looking for expansion upon what is already there?

[2017-08-23 05:03] stu7 commented on #17
I'd like to add this info to the about.html unless it belongs on the index.html?

[2017-08-23 12:45] kacollins commented on #17
The about page would be a great place for it!

[2017-08-23 12:46] kacollins commented on #19
Yes, it would be great to expand on what Slack is, how we use it, how to sign up, and how to join the freecodecamp channel once you're in Slack. This will probably be on a new page and involve some screenshots, so it is probably a more advanced issue, not a beginner one.

[2017-08-23 12:58] kacollins opened #41 "Other meetup groups"
Add a page that lists other tech groups in Oklahoma. Include any from this list that seem relevant: https://www.meetup.com/pro/Techlahoma/

Other groups to consider including:
https://www.meetup.com/CODE-Norman
https://www.meetup.com/Data-Creativity-OKC
https://www.meetup.com/DSN-DEV-OKC
https://www.facebook.com/groups/free.code.camp.tulsa/
https://www.facebook.com/groups/492652307741260/

[2017-08-24 01:46] mstub commented on #38
Do we want a stand alone link, or should his incorporate with #11 by adding a list of social icons somewhere?

[2017-08-24 01:48] kacollins commented on #38
I'm thinking this is separate. I would like to see a list of links in addition to the icons. Adding the Facebook group to the Contact section on the about page would probably make the most sense.

[2017-08-28 15:15] kacollins opened #43 "Job Fair"
Create an entry on the blog page about our upcoming job fair and how to prepare for job fairs.

[2017-08-31 03:56] stu7 commented on #17
I'm working on this one now.

[2017-09-08 04:32] Jason9199 commented on #24
The biggest challenge I see with this is since they're listed on the techlahoma channel along with several other non fcc videos, I don't know if there's a way to filter out only the fcc videos and show those and exclude all the others.

[2017-09-08 04:35] Jason9199 commented on #23
That link is broken. I believe this is probably the page you were trying to link to. [https://dev.twitch.tv/docs/embed](url)

[2017-09-08 04:38] kacollins commented on #24
Ideally, the videos for our group would have "Free Code Camp" (with or without spaces) and "OKC" in the title. This isn't always the case, but that might be the best way to start.

[2017-09-12 05:11] Jason9199 commented on #24
From the Twitch docs it appears you can organize videos on a channel into Collections, which can then be retrieved via the API. If we can put the FCC videos in a collection, I can retrieve them and make them available on a page.

https://help.twitch.tv/customer/portal/articles/2752733-how-to-use-collections?b_id=14444
https://dev.twitch.tv/docs/embed#non-interactive-inline-frames-for-live-streams-

[2017-09-13 02:38] Jason9199 commented on #21
Are there any pictures such as the ones described here available already that we can use? Meetup.com seems to be lacking these.

[2017-09-13 02:41] Jason9199 commented on #43
The CodeForOKC site from which this was cloned after sends the link for their blog to medium.com https://medium.com/code-for-okc Is this our intention for our blog, and if so is this account set up yet?

[2017-09-13 02:41] Jason9199 commented on #39
The CodeForOKC site from which this was cloned after sends the link for their blog to medium.com https://medium.com/code-for-okc Is this our intention for our blog, and if so is this account set up yet?

[2017-09-13 03:00] Jason9199 opened #46 "Consolidate code from pages"
Consolidate website into views (probably using Angular) to eliminate repetition of code across the pages. Then configure routing to display the appropriate view of the body based on the route of the URL.

Suggested approach:
- create a master layout view that references all the partials
- create view for the header
- create view for the footer
- reduce the pages to views of the body of the page wi

[2017-09-13 12:10] kacollins commented on #24
I created a collection called `freeCodeCamp OKC` for this.

[2017-09-13 12:13] kacollins commented on #43
The intention for this blog entry was to have a simple HTML page linked from http://www.fccokc.com/blog.html.

[2017-09-13 12:15] kacollins commented on #39
I don't think we have decided for sure yet, but I believe that's the plan and the account is not set up yet.

[2017-09-28 17:59] kacollins commented on #21
Part of this issue might be going to the meetups and taking pictures. It would be great to post some on our Meetup and Facebook pages too.

[2017-09-28 23:34] Skyth3r commented on #11
I could try doing this for you. Just to confirm are you taking about the about page with the 'contact us' section at the bottom of the page?

[2017-09-28 23:39] Skyth3r commented on #35
I can do that if you want. Where would you want this link? On an existing page (such as the about page) or as a new page?

[2017-09-28 23:40] Skyth3r commented on #36
I'm up for doing this.

[2017-09-28 23:41] Skyth3r commented on #37
I can try and do this. Might need to look over some examples first though.

[2017-09-29 02:11] mstub commented on #11
I actually just need to send in a pull request have these icons completed

[2017-09-29 07:56] Skyth3r commented on #11
Ok, I'll work on some of the other issues then

[2017-09-29 13:44] mstub commented on #19
I believe this issue has been resolved?

[2017-09-29 13:46] mstub commented on #17
@stu7 have you done any work on this? just wanting to clarify for people who may be looking for things to do for Hacktoberfest

[2017-09-29 13:47] mstub commented on #46
I like the idea of this because there is a lot of repetitive code, just wondering how difficult it may be for some people who do not have experience with Angular, to contribute and navigate the project?

[2017-09-29 14:12] Jason9199 commented on #46
Correct. And because of that it should have an Intermediate or Advanced tag on it. I'm happy to handle it myself, but I haven't had time to start on it yet.

[2017-09-29 14:13] Jason9199 commented on #19
It has with pull request 42.

[2017-09-30 01:51] stu7 commented on #17
@mstub yes, I did this earlier this month right before making a commit for it and a couple of other ones too. I thought my commits went through on the pull already. Might have to fix something holding it up.

[2017-09-30 15:17] kacollins commented on #19
http://www.fccokc.com/slack.html

This page is really helpful. Great job, @Jason9199!

[2017-09-30 15:17] #19 closed

[2017-09-30 15:25] kacollins opened #49 "Slack Page Updates"
In the first paragraph on the slack.html page, one of the links should go to https://techlahoma.slack.com/ instead of http://slack.techlahoma.org/:

`For example, you can access the Techlahoma Slack by visiting https://techlahoma.slack.com/. If you do not yet have an account for the Techlahoma Slack, you can request one at http://slack.techlahoma.org/.`

It would also be good to mention that the c

[2017-09-30 16:26] kwinzig commented on #49
Hey :) Can I work on this?

[2017-09-30 17:37] kacollins commented on #49
Looks like @thegreyelephant commented first, @kwinzig. We have plenty of other issues, or you can create your own!

[2017-09-30 17:39] kacollins commented on #17
@stu7, let us know if you need any help getting this done!

[2017-09-30 17:54] kacollins commented on #46
Let's put this one on hold until after Hacktoberfest :)

[2017-09-30 17:57] kacollins commented on #38
The link would go at the bottom of this page, at the end of the Contact section: http://www.fccokc.com/about.html

This would be an ideal task for someone who has never created a pull request before!

[2017-09-30 18:00] kacollins opened #50 "Volunteer Links"
Add a link to the twitter accounts for Ava and Brent on the About page:
https://twitter.com/avasond
https://twitter.com/Brent_Shambaugh

This would be an ideal task for someone who has never created a pull request before!

[2017-09-30 18:04] nab0310 commented on #50
@kacollins I'll take a look at this!

[2017-09-30 18:09] ashwani99 commented on #50
@kacollins Can I take this?

[2017-09-30 18:12] kacollins commented on #50
@ashwani99, it looks like @nab0310 got it first. We have several other issues that you can work on!

[2017-09-30 18:14] kacollins commented on #43
This will probably be on hold until the next job fair or we get the blog set up.

[2017-09-30 18:16] nab0310 commented on #50
I'll open a PR tomorrow for it!

[2017-09-30 18:17] ashwani99 commented on #40
@kacollins I want to work on this. Can you provide the links that should be added? Are all these projects [here](https://github.com/FreeCodeCampOKC) should be added?

[2017-09-30 18:31] julianstanley commented on #38
I have this done! Just trying to figure out how to make the pull request now :)

[2017-09-30 18:31] kacollins commented on #40
Yes, those are the projects to list. `presentation-slides` isn't a project exactly, and `react-course` hasn't gotten off the ground yet, so it might be better to not include those two.

[2017-09-30 18:51] julianstanley commented on #25
I'll give this a shot if that okay since @kasifrass hasn't opened a pull request yet.

[2017-09-30 19:08] kacollins commented on #35
What about just adding a short sentence to the Projects section on the index page? Something like `You can contribute to this website on GitHub!` The website will also be listed on the Projects page as part of another issue, so it doesn't need to be added there right now.

[2017-09-30 19:09] kacollins commented on #37
It looks like this has been done: https://github.com/FreeCodeCampOKC/fccokc_web/pull/47

[2017-09-30 19:22] ashwani99 commented on #40
@kacollins Does it look good? Can you please review it?

[2017-09-30 20:17] kacollins commented on #36
The readme would be a great place to include a little bit of information about our group (from the index or about page), along with information about how to run the project locally.

[2017-09-30 20:20] Skyth3r commented on #36
Already starting working on it, will add some info tonight.

[2017-09-30 21:50] Skyth3r commented on #35
Ok sure, I'll hyperlink the 'Github' bit then as well

[2017-09-30 22:13] #38 closed

[2017-09-30 23:35] GeekyShiva commented on #49
@kacollins Please review and merge as i have made a PR with all the changes requested.

Thanks

[2017-09-30 23:49] kacollins commented on #37
Good work, @Jason9199!

[2017-09-30 23:49] #37 closed

[2017-10-01 00:37] #25 closed

[2017-10-01 02:51] stu7 commented on #17
@kacollins just working on getting the push to go through after making another change and commit.  Did a 'git pull upstream master' to sync.  Added the file, committed it and pushed it, but it was rejected. What am I missing?  Do I need to do a fetch here?

[2017-10-01 02:59] #49 closed

[2017-10-01 12:16] mstub commented on #10
this issue was resolved by @Jason9199

[2017-10-01 12:16] #10 closed

[2017-10-01 12:32] mstub commented on #17
@stu7 are you working off different branches? it looks like you've got a bunch of congested commits for different things and could be a problem?

[2017-10-01 16:10] stu7 commented on #17
I think I'm working from my fork, syncing with the master, making changes, adding the file(s), committing them and pushing. This is the first time I've run into this issue for pushes.  Yeah, I have a lot of small commits on this pull over the past month or longer. Its still open.

[2017-10-01 16:23] #40 closed

[2017-10-01 16:46] #50 closed

[2017-10-01 19:37] #41 closed

[2017-10-01 20:05] CarsonMcKinstry opened #61 "Page for "Setting up your dev environment""
Need a resource page for newcomers to show how to set up a basic dev environment

- install node
- install a terminal if they don't have it
- install a text editor
- install a decent browser (Chrome is recommended often)

[2017-10-01 20:08] Jason9199 commented on #17
@stu7 That error is because you're making changes on your master branch locally, and your remote master branch has changes that you don't have locally. You'll have to update your local branch with the changes already in your remote master branch with a `git pull`, and if there are conflicts resolve those first before it'll let you pull everything from the remote branch in. It's a little confusing

[2017-10-01 20:19] Jason9199 opened #62 "Slack page missing navbar on mobile"
When the site is viewed on mobile every page has a functional navbar fit for mobile screens except the slack.html page. Currently when you go to that page the navbar disappears.

We need to update the Slack page to display the mobile navbar just like pages on the rest of the site.

[2017-10-01 20:20] brycejech commented on #61
I can take this one. Have a couple questions.

1. Windows, macOS, and every variety of Linux I've ever used comes with a terminal by default. I've never had to install one and doubt the case that anyone may need instructions for this. Unless you are talking about installing an SSH client. If that is the case I can add some instructions for installing PuTTY. Most Linux distros and macOS come with S

[2017-10-01 20:26] Jason9199 opened #63 "CONTRIBUTING.md improvements"
CONTRIBUTING.md needs to go into more depth about what to do after forking the FCCOKC repo. Suggestions would be:

- creating a branch for the item you're working on, that way each pull request you eventually make is for the changes made for that individual Issue you're trying to address

- how to update your repo master branch with changes from FCCOKC

- how to update your branch with the changes

[2017-10-01 20:37] Jason9199 commented on #61
@brycejech My $.02 regarding your first point is you might include references to popular terminal programs, like iTerm2 for Mac and Cmder for for Windows. While you are correct every OS comes with their own version of a command line by default, there are a lot of niceties and options that come from some 3rd party programs like the ones I suggested that will not always be available using the built

[2017-10-01 20:40] brycejech commented on #61
Ha! Re-reading my second point, it does look opinionated. I certainly don't want to start any flame wars. Agree that we should stop short of making a recommendation, will add instructions for both.

[2017-10-01 20:53] #11 closed

[2017-10-01 23:57] brycejech commented on #62
Sent my initial PR to the wrong repo. Should be fixed now.

[2017-10-02 03:13] #17 closed

[2017-10-02 04:09] stu7 commented on #35
I had this one done awhile ago, but due to the complications with my push and repo, it needs to recomitted.

[2017-10-02 14:11] Jason9199 commented on #35
@stu7 Go for it!

[2017-10-02 14:15] #61 closed

[2017-10-02 15:57] mstub opened #68 "Link to Slack Page on About Page"
Before we merged in the social icon change, the original link to the slack sign-up page had a tooltip link that lead to a page showing how to utilize slack. Could someone add this tooltip link back to the about page, on the line advising visitors how they can contact us?

If you are looking for direction with this issue, take a look under the chat section of the index.html page

[2017-10-02 19:04] brycejech commented on #68
@mstub just to clarify, are you wanting another small question mark icon added next to the slack icon on the about page that links to the slack.html page? (similar to the "?" icon on index.html)

Not to be too opinionated (and unsure if this has already been discussed elsewhere), but I think that we should remove this question mark icon altogether and insert additional language that links to the s

[2017-10-02 19:33] kacollins commented on #68
I agree!

[2017-10-02 19:56] mstub commented on #68
I was meaning for it to go on the verbiage where it says "you can contact us via..." not on the icon itself. However I see no problem with the way you have proposed.

[2017-10-02 20:02] brycejech commented on #68
I think both are ok. I can update the language on the index.html page as described above. Then insert the same language after the "You can contact us via..." string on the about.html page. Sound good? Alternatively, I can put the language below the social icons on the about page, it may look even better just blow it, that way we can leave that colon ":" and leading text in place. Thoughts?

[2017-10-02 22:03] Jason9199 commented on #63
@brycejech command line would be my preference and was what I had in mind when writing this issue. It's also how the git documentation explains it. The problem with explaining it from a desktop app perspective is having to pick which one you want to explain and step through how that one does it. command line instructions will be universal. However, I would be willing to entertain different viewpoi

[2017-10-03 01:12] #24 closed

[2017-10-03 01:12] #23 closed

[2017-10-03 01:28] #62 closed

[2017-10-03 01:41] #22 closed

[2017-10-03 03:56] stu7 commented on #17
Thanks Jason for the feedback. We finally got everything sorted after four hours on Slack, last night. It was somewhat of a rewind and refresh, but that's what it took. Matt was a big help in that process that couldn't have been accomplished in double that time if I was doing it solo. Matt had been in this spot more than once so his experience and guidance was critical to getting it fixed. We ende

[2017-10-03 03:58] Jason9199 commented on #17
Glad to hear it! Well done @mstub !!

[2017-10-03 04:06] CarsonMcKinstry commented on #46
While this is on hold, I do want to comment on this!

So, I think we ought to use something that isn't Angular for this? Angular is rather large and causes slowdowns on initial loads, even if the original file is minified. It just feels a bit heavy-handed.

The point of GH pages is to use static HTML files or a generator like Jekyll. As well, GH pages, unfortunately, doesn't support angular routin

[2017-10-03 04:16] Jason9199 commented on #46
I hadn't heard of any issues with Angular routing and GitHub pages, that would be a shame. But I don't know if I've ever heard of Angular described as heavy or slow. I've used it a lot and never experienced those symptoms.

If we decide to do something other than Angular, we should still be able to come up with a solution that doesn't have so much duplicated code.

[2017-10-03 04:39] stu7 commented on #35
Ok

[2017-10-03 10:58] mstub commented on #68
I don't think we would need to use the same verbiage on the about page, probably just add a link to the slack information page where it says "You can contact us via e-mail, Facebook, Twitter, or Slack:"?

[2017-10-03 11:02] mstub opened #71 "Mobile Nav Bar not listing Twitch"
The twitch page is not listed on the mobile navigation bar, a list element needs to be added for this page to mirror the main navigation bar.

When looking at this issue, make sure that both navigation bars are uniform across all respective pages. If you have any questions please ask!

[2017-10-03 12:14] CarsonMcKinstry commented on #46
Back when I first started trying to use Angular for my own site on GH pages, routing didn't work and I found that angular-router and ui-router both required a web server for the routes generated by either of those libraries to work. The solution is creating a flat file, with every single page in a single html file.  That's not good or best practice.

Minified, Angular is 143k, and since we don't h

[2017-10-03 14:34] brycejech opened #74 "Introduction of Bootstrap in PR #67 changed font-size and font-family on index.html"
@mstub @Jason9199
I believe the introduction of bootstrap with PR #67 changed the `font-size` and `font-family` on the home page. Not sure if that was intentional or not, but it no longer conforms to the rest of the site. You can `checkout` 6efc2631de6bd64e1e6b32472e0c2eb496c67416 to see what it was just before the introduction of bootstrap.

[2017-10-03 16:42] mstub commented on #74
@brycejech this was definitely not by design, haha. I noticed this morning that I was going to have to re-work the parking modal that utilizes bootstrap or figure out what the clash is, unless you are bored and wanting to look into it

[2017-10-03 20:48] stu7 commented on #39
@kacollins @dashcraft  I think I could start working on this in steps/stages, but I'm not sure where to begin with or what, exactly. Could you provide some feedback as to where/how you'd like to begin tackling this issue?

[2017-10-03 21:20] stu7 commented on #4
@mstub @dashcraft Are there any other items or content to be added needed to develop this page?

[2017-10-05 00:44] mstub commented on #4
this will remain as an open issue so as people find tutorials, books, or other great resources that could help others learn they can add them to this page

[2017-10-05 00:47] mstub commented on #39
https://www.meetup.com/FreeCodeCampOKC/events/past/ this would be a good place to start, each meetup has a short intro about what we are talking about, I think this is kind of what @kacollins had in mind. Would like it to be more in depth if possible by people who attended some of these meetups

[2017-10-05 01:37] mstub commented on #39
https://refreshokc.org/meetups/ this might also be a good place to get some inspiration from as well.

[2017-10-05 17:14] #36 closed

[2017-10-05 21:57] Skyth3r commented on #71
Fixed these issues. Nav bars are uniforms across all the pages.

[2017-10-06 00:51] mstub commented on #63
If we could also make a note to make sure the forked repo is current with the origin, and advise contributors to clear their merge conflicts before completing their PR

[2017-10-06 12:44] dashcraft opened #80 "Pull Request Template"
One of the things we need to do, in order to make the process more efficient and better for the community at large, is create a pull request template/commit template. This will help make the act of understanding what the pull request is/does much more efficient! It's also one of github's metrics for how friendly your repo is to the community.

[2017-10-06 12:45] dashcraft opened #81 "Code Of Conduct"
We should Copy the Techlahoma Code of Conduct and include it in this repositories Code of conduct. If you click on insights, then the heart symbol (for community) it will outline some helpful metrics that your repo should embrace, to make the repo more friendly to the community.

[2017-10-06 13:56] Jason9199 commented on #81
Our README links to the Techlahoma Code of Conduct already.

[2017-10-06 14:00] kacollins commented on #81
It looks like having a CODE_OF_CONDUCT.md is suggested:
https://github.com/FreeCodeCampOKC/fccokc_web/community/code-of-conduct/new
https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/

[2017-10-06 14:23] brycejech commented on #63
Will do. Should have some time this weekend to get started on it.

From: Matt Stubenhofer [mailto:notifications@github.com]
Sent: Thursday, October 5, 2017 7:51 PM
To: FreeCodeCampOKC/fccokc_web <fccokc_web@noreply.github.com>
Cc: Bryce Jech <bryce@brycejech.com>; Mention <mention@noreply.github.com>
Subject: Re: [FreeCodeCampOKC/fccokc_web] CONTRIBUTING.md improvements (#63)

If we could also mak

[2017-10-07 18:57] dashcraft commented on #81
Yeah as @kacollins said, one of the github community friendly guidelines says that a code of conduct for the repo itself is advised.

[2017-10-08 14:39] #71 closed

[2017-10-08 22:33] mstub commented on #80
i've got something working on this

[2017-10-09 04:02] #80 closed

[2017-10-09 13:32] #74 closed

[2017-10-10 02:54] egkwong opened #84 "Dev Tools"
### Outline the Issue

- [] Is the issue a bug?
- [] Is the issue a typo?
- [x] Is the issue a proposed new feature?

### Describe the Issue

- environment-setup.html explains how to install modern web browsers
-all modern web browsers come with developer tools installed by default
-add some text describing what developer tools are and a link to MDN web site for more information.

### Possible Sol

[2017-10-10 03:51] #84 closed

[2017-10-10 12:53] mstub opened #86 "BUG: Issue & PR Templates"
### Outline the Issue

- [x] Is the issue a bug?
- [] Is the issue a typo?
- [] Is the issue a proposed new feature?

### Describe the Issue

The checklist boxes are not displaying properly because the markdown is incorrect, can someone revise these two items with the proper syntax?

### Possible Solution

I believe this [guide](https://help.github.com/articles/about-task-lists/) will help show th

[2017-10-10 14:09] mstub opened #87 "BUG: Social Icon Styling"
### Outline the Issue

- [x] Is the issue a bug?
- [] Is the issue a typo?
- [] Is the issue a proposed new feature?

### Describe the Issue

When displaying the website in chrome, the social icon styles are not displaying properly, however they seem to work properly in firefox and safari. They are utilizing the anchor tag styling and showing up as a link instead of the defined black styling.

[2017-10-10 14:20] Jason9199 commented on #87
Can you be more specific? What about how they are displaying is improper?

[2017-10-10 17:38] mstub commented on #87
edited original comments for more information, below are some screenshots. The first is of the social icons showing up currently. The second is how the icons should be displaying.

![fcc social](https://user-images.githubusercontent.com/26757091/31401051-3761d020-adb7-11e7-8830-1424c702de8d.png)

![fcc social black](https://user-images.githubusercontent.com/26757091/31401225-e5ab89be-adb7-11e7-96a

[2017-10-10 17:40] mstub commented on #87
upon some more investigating it appears the icons work once the window width has reached 600px, beyond that they appear blue.

[2017-10-10 22:19] CoderAJ7470 opened #89 "Correct the Techlahoma Slack sign-up link"
### Outline the Issue

- [] Is the issue a bug?
- [x] Is the issue a typo?
- [] Is the issue a proposed new feature?

### Describe the Issue

On the slack.html page, line 74, the last link takes the user to the Techlahoma Slack chat. This link should take the user to the Techlahoma Slack sign-up page where they can create an account and get an invitation to join Techlahoma on Slack.

### Possible

[2017-10-10 23:50] #89 closed

[2017-10-11 01:48] egkwong commented on #87
Question?
what is the desired style for the social icons, black or #33a6b8?
Always?
I tested with Chrome and firefox on linux, safari on mac, and chrome on Android.
Results... There is a break point at 650px. black < 650px <  #33a6b8.
Looks like a quick fix let me know. I might do a pr tonight and turn it all black if nobody points me in another direction before then.

[2017-10-11 02:01] mstub commented on #87
@egkwong the intended styling is to always be black. The #33a6b8 is for other page links, but the intention of the social icons is to be black.

thanks for looking into this for us!

[2017-10-12 18:46] CoderAJ7470 opened #94 "Additional Slack Page Updates"
### Outline the Issue

- [] Is the issue a bug?
- [x] Is the issue a typo?
- [] Is the issue a proposed new feature?

### Describe the Issue
*Please note: while not exactly a typo, addressing this issue resolves removal of a link and replacing it with the required information.*

On the Slack page, the bottom two sections need addressing. In the "Additional Information" section, it should be clarif

[2017-10-13 00:10] #94 closed

[2017-10-13 12:06] #81 closed

[2017-10-13 13:45] CoderAJ7470 commented on #86
I'll go ahead and work on this one.

[2017-10-13 14:31] mstub opened #98 "Code of Conduct Linking"
### Outline the Issue

- [x] Is the issue a bug?
- [] Is the issue a typo?
- [] Is the issue a proposed new feature?

### Describe the Issue

This is not really a bug, but could someone revise the README.md to link to our CODE_OF_CONDUCT.md now?

### Possible Solution

### Mentions

[2017-10-13 15:03] #86 closed

[2017-10-13 15:10] #87 closed

[2017-10-13 16:37] CoderAJ7470 commented on #63
Is this still open to anyone? Don't want to do a "takeover" if anyone is planning on working on this :).

[2017-10-13 16:41] brycejech commented on #63
I am planning to write it up soon.

[2017-10-13 16:44] kacollins commented on #63
Oh, sorry, I told Bryce I would make a comment on this one that it's taken, and I forgot.

[2017-10-13 16:47] CoderAJ7470 commented on #63
Ahh no worries! It's all good :).

[2017-10-14 02:07] jmerrill3 commented on #98
So do you want it to lead like the Contributing part?

![image](https://user-images.githubusercontent.com/26773515/31571546-74546b32-b05a-11e7-8613-9f92cc2c874e.png)

Is this what you were thinking?

[2017-10-14 10:58] mstub commented on #98
yes, that is correct @jmerrill3 !

[2017-10-14 16:06] kacollins opened #104 "HTML Validation Reference in Pull Request Template"
### Outline the Issue

- [ ] Is the issue a bug?
- [x] Is the issue a typo?
- [ ] Is the issue a proposed new feature?

### Describe the Issue

The third item in the Pull Request Template checklist says `I have validating my HTML as outlined in the CONTRIBUTING document`, but the contributing document does not mention HTML validation (yet). Also, `have validating` is a typo.
https://github.com/Fre

[2017-10-14 16:15] kacollins opened #105 "Issue Template Update"
### Outline the Issue

- [ ] Is the issue a bug?
- [ ] Is the issue a typo?
- [ ] Is the issue a proposed new feature?

### Describe the Issue

https://raw.githubusercontent.com/FreeCodeCampOKC/fccokc_web/master/ISSUE_TEMPLATE.md
Enhancement should an issue type option.
It would also be good to ask questions to help the project maintainers select the labels and assignee.

### Possible Solution

Ad

[2017-10-14 16:21] kacollins opened #106 ""Resolves" in Pull Request Template"
### Outline the Issue

- [ ] Is the issue a bug?
- [ ] Is the issue a typo?
- [ ] Is the issue a proposed new feature?

### Describe the Issue

In the pull request template, `Resolves #` marks the related issue as resolved when the pull request is closed, and that's not always the intended behavior.
https://github.com/FreeCodeCampOKC/fccokc_web/blame/master/PULL_REQUEST_TEMPLATE.md#L9

### Possibl

[2017-10-15 02:07] #98 closed

[2017-10-15 14:38] brycejech commented on #63
Working on this today. @Jason9199 do we want to add all of the discussed documentation to the CONTRIBUTING.md file or create a page on the website and link to it?

[2017-10-15 19:55] #68 closed

[2017-10-15 19:58] mattstub opened #107 "Projects Page Styling"
### Outline the Issue

- [ ] Is the issue a bug?
- [ ] Is the issue a typo?
- [ ] Is the issue a proposed new feature?
- [x] Is the issue an enhancement?

### Describe the Issue

Would we like to add some styling to the projects page to help separate the projects? Right now the list appears to me that it runs together.

### Possible Solution

The code for america website has a site where simple st

[2017-10-15 20:22] Jason9199 commented on #63
I replied in Slack to your question there.

[2017-10-15 20:29] Jason9199 commented on #107
The only thing about the Code For America site is their styles don't match up with our styling we are using for our site. That's not to say we can't somehow further differentiate between the projects to make it more easy to read, but in my opinion it should mirror the rest of the site's look and feel.

Along those same lines, it probably would be a good issue for someone to create a style guide fo

[2017-10-15 22:32] mstub commented on #107
@Jason9199 I wasn't meaning that we needed to follow that CFA's style, just outlining something that could break up the project list a bit.

[2017-10-18 13:27] kacollins opened #108 "Add link to Techlahoma's Welcome Guide to Slack"
### Outline the Issue

- [ ] Is the issue a bug?
- [ ] Is the issue a typo?
- [ ] Is the issue a proposed new feature?

### Describe the Issue

Techlahoma's Welcome Guide to Slack has lots of good information about using Slack.

### Possible Solution

Add a link to https://www.techlahoma.org/news/2017/10/10/slack-welcome-guide on slack.html under "Learn more about Techlahoma's Slack:"

### Mention

[2017-10-18 13:31] kacollins opened #109 "Add information about other Slack channels"
### Outline the Issue

- [ ] Is the issue a bug?
- [ ] Is the issue a typo?
- [ ] Is the issue a proposed new feature?

### Describe the Issue

It would be helpful to mention some other channels in Slack and their purpose, such as #announcements, #tech-talk, #random, #javascript, and #jobs.

### Possible Solution

### Mentions

[2017-10-18 15:11] CoderAJ7470 commented on #109
I'll work on this one

[2017-10-20 00:16] mstub commented on #109
Awesome! thanks @CoderAJ7470

[2017-10-20 23:45] stu7 commented on #108
I'll work on this one, but it looks like there's already a link there. Should i find a different one?

[2017-10-21 12:13] mstub commented on #105
I'm going to go ahead and take this and clean up issues we discussed yesterday as well

[2017-10-21 18:13] 2067599054 opened #113 "Grammar-Revision"
### Outline the Issue

- [ ] Is the issue a bug?
- [X ] Is the issue a typo?
- [ ] Is the issue a proposed new feature?

### Describe the Issue

Project html. Line 77. Missing colon.

### Possible Solution

Add colon.

### Mentions

I want to resolve this issue.

[2017-10-22 01:27] #113 closed

[2017-10-22 18:56] #109 closed

[2017-10-22 19:44] 2067599054 opened #116 "Typo on Index.html home page"
### Outline the Issue

- [ ] Is the issue a bug?
- [X ] Is the issue a typo?
- [ ] Is the issue a proposed new feature?

### Describe the Issue

Index.html (Home Page), Line 89

### Possible Solution

Capitalize "s" in Slack and add punctuation to last sentence in line 89.

### Mentions

[2017-10-22 20:09] #104 closed

[2017-10-22 20:30] carmalou opened #118 "some typos on index.html and others"
### Outline the Issue

- [ ] Is the issue a bug?
- [x] Is the issue a typo?
- [ ] Is the issue a proposed new feature?

### Describe the Issue

### Possible Solution

### Mentions

[2017-10-22 20:31] carmalou commented on #118
idk why this didn't assign to me, but I'm opening a PR momentarily

[2017-10-22 20:49] carmalou commented on #118
PR is here: https://github.com/FreeCodeCampOKC/fccokc_web/pull/119

[2017-10-22 21:03] #118 closed

[2017-10-23 01:14] #108 closed

[2017-10-23 01:23] mstub commented on #21
Seen lots of pictures taken recently, hopefully someone will find the time to get them uploaded and pushed over here.

[2017-10-23 04:21] stu7 commented on #106
@kacollins I can try my hand at this one next, exposure working on that new template?

[2017-10-24 12:35] kacollins commented on #21
Where should people put pictures that they would like to share?

[2017-10-25 19:43] chris-tse opened #122 "FIrst-timer info page"
### Outline the Issue

- [ ] Is the issue a bug?
- [ ] Is the issue a typo?
- [x] Is the issue a proposed new feature?

### Describe the Issue
As proposed by @kacollins this is a page for people who have not attended a FCCOKC or Techlahoma meetup before. This is a page that contains information such as what one should bring to a meetup, what to expect, expected behavior (code of conduct), etc.

[2017-10-26 19:23] #105 closed

[2017-10-27 05:07] brycejech opened #124 "Create Contribution Guide"
### What is the Issue?

- [ ] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [x] Is the issue an enhancement?

### Describe the Issue

Add a start to finish guide on contributing to open source repositories on GitHub.

In order to help beginners make their first PR, we should include a detailed getting started guide.

### Would this be a good first issue?

- [ ] Yes
- [x] No

###

[2017-10-27 13:23] #124 closed

[2017-10-27 14:29] mattstub commented on #21
that's a good question.. Do we want to do a sidebar that illustrates some thumbnails and leads to a modal? or a carousel or just a static picture page?

[2017-10-29 00:00] #116 closed

[2017-10-30 17:26] mattstub commented on #35
resolved with PR#75

[2017-10-30 17:26] #35 closed

[2017-10-31 14:29] kacollins opened #128 "Update first-timer info page"
### What is the Issue?

- [ ] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [x] Is the issue an enhancement?

### Describe the Issue

Resources link is not correct on mobile nav bar, and wording could use some improvement.

### Possible Solution

On firsttimers.html, fix the resources link, and run the wording on the page through hemingwayapp.com.

### Would this be a good first

[2017-10-31 14:34] #122 closed

[2017-11-08 02:54] dashcraft commented on #46
Angular 2/4 now has lazy loading and AOT (ahead of time compiling), this drastically reduces load times.

But yeah, if we are going with a full fledged framework it'd be time to move it over somewhere else.

[2017-11-11 07:04] ezrahnyanat commented on #128
@kacollins My first contribution! I fixed the resources link and after running the page through hemingway, I reworded it to hopefully read more concise.

[2017-11-15 23:11] mattstub opened #131 "No Navigation to First Timers Page"
### What is the Issue?

- [x] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [ ] Is the issue an enhancement?

### Describe the Issue

Currently I can not locate a link to our *First Timers* Page, we need some secondary navigation for people to reach this page.

### Possible Solution

I believe something in the opening paragraph of the index page that could link people to this pa

[2017-11-25 07:10] esquith commented on #131
Hi, I would like to take this

[2017-12-04 00:29] mattstub commented on #131
@esquith awesome! let us know when you've got a PR to review! thanks!

[2017-12-17 20:48] #131 closed

[2018-01-14 00:48] kacollins opened #133 "LinkedIn Group"
### What is the Issue?

- [ ] Is the issue a bug?
- [x] Is the issue a proposed new feature?
- [ ] Is the issue an enhancement?

### Describe the Issue

We need a link to our LinkedIn group: https://www.linkedin.com/groups/12086660

### Possible Solution

Add a link to the Contact section on the About page.

### Would this be a good first issue?

- [x] Yes
- [ ] No

### What is the difficulty leve

[2018-01-14 05:48] membrq commented on #133
Can I claim?

[2018-01-16 11:33] #128 closed

[2018-01-16 11:37] #133 closed

[2018-01-18 03:55] kacollins opened #136 "Slack Clarifications"
### What is the Issue?

- [ ] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [x] Is the issue an enhancement?

### Describe the Issue

The order of the information in the last two sentences in the first paragraph on the Slack page should be reversed, so that slack.techlahoma.org is mentioned before techlahoma.slack.com. Also, mention that you need to create an account for the Tec

[2018-01-23 02:32] #106 closed

[2018-01-23 03:16] kaykay1424 commented on #136
I can take care of this.

[2018-01-23 03:19] kacollins commented on #136
That would be great!

[2018-01-23 15:53] #136 closed

[2018-03-21 00:38] dashcraft opened #138 "Resources page styling"
### What is the Issue?

- [x] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [ ] Is the issue an enhancement?

### Describe the Issue

Currently, the icon for the dropdowns on resources are different sizes when down caret vs right caret.

### Possible Solution

Possibly decrease the size of the carets to make it fit the UI better, add some
padding left to the title of the dropdow

[2018-03-21 04:07] linuxuser07 commented on #138
I have a question for this, I changed the attribute of the min-icon and max-icon
so for the min-icon font-size: .92em; and for the max-icon: font-size: 1em;

I'm not sure if that is the solution needed for this.

[2018-03-21 14:06] dashcraft commented on #138
Can you post a screenshot?

[2018-03-22 05:21] linuxuser07 commented on #138
![arrows](https://user-images.githubusercontent.com/4961375/37752545-9f478d54-2d66-11e8-833c-f87e7a6cf008.png)
![code](https://user-images.githubusercontent.com/4961375/37752546-a1f36dfc-2d66-11e8-9bac-0ce96aca2a0d.png)
Here you go

[2018-03-22 05:23] linuxuser07 commented on #138
Also if I force the padding on it to the right, the title stops moving and only the arrow moves, sorry for the late reply.

``#toggle-youtube + label h2::before {
  content: attr(min-icon);
  font-family: "FontAwesome";
  font-size: .92em;
  padding-right: 7px;

}
#toggle-youtube:checked + label h2::before {
  content: attr(max-icon);
  font-family: "FontAwesome";
  font-size: 1em;
  font-size: .9

[2018-03-22 15:54] dashcraft commented on #138
Do you have a picture of the adjusted padding? Ideally we don't want the title to move because of the width of the icon, we only want the icon to change.

[2018-03-22 15:55] dashcraft commented on #138
Looking good so far though!

[2018-03-23 03:46] linuxuser07 commented on #138
Can I claim this issue as Mine so I can do it.

THank you

[2018-03-23 16:46] dashcraft commented on #138
Yeah, no bigs

[2018-03-25 00:59] linuxuser07 commented on #138
Ok I think I got it, I added the padding and also change the size of the carets.
Please let me know if that still looks off thank you

`#toggle-youtube + label h2::before {
  content: attr(min-icon);
  font-family: "FontAwesome";
  font-size: .92em;
  padding-right: 9px;
}
#toggle-youtube:checked + label h2::before {
  content: attr(max-icon);
  font-family: "FontAwesome";
  font-size: 1em;
 paddi

[2018-03-28 02:31] dashcraft commented on #138
Love it!
I will see if we can get it merged by the guys sometime here shortly!
Great work!

[2018-03-28 02:32] dashcraft commented on #138
please submit it as a pull request

[2018-03-28 03:27] linuxuser07 commented on #138
Done

[2018-07-13 22:49] kacollins opened #140 "Online learning link"
### What is the Issue?

- [ ] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [x] Is the issue an enhancement?

### Describe the Issue

It would be nice if "online learning" on the home page was a link to freecodecamp.org

### Possible Solution

### Would this be a good first issue?

- [x] Yes
- [ ] No

### What is the difficulty level of this issue?

- [x] Beginner
- [ ] Intermed

[2018-07-22 22:50] #140 closed

[2018-07-25 15:19] kacollins opened #142 "Twitch and YouTube on First Timers Page"
### What is the Issue?

- [ ] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [x] Is the issue an enhancement?

### Describe the Issue

Mention on the [First Timers](http://www.fccokc.com/firsttimers.html) page that you can get an idea of what to expect by watching past meetups on [Twitch](http://www.fccokc.com/twitch.html) and [YouTube](https://www.youtube.com/playlist?list=PLdW0

[2018-09-21 15:08] #142 closed

[2018-09-21 15:12] #138 closed

[2018-10-09 18:44] kacollins opened #146 "Blog Links"
### What is the Issue?

- [ ] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [x] Is the issue an enhancement?

### Describe the Issue

We have a new Medium blog and are not using the current Blog page.

### Possible Solution

Change the Blog links from http://www.fccokc.com/blog.html to https://medium.com/freecodecamp-okc
Remove the blog.html page.

### Would this be a good first

[2018-10-09 19:18] kacollins commented on #39
@CarsonMcKinstry got us set up on [Medium](https://medium.com/freecodecamp-okc/about)! Now we just need some blog posts! Join us in the #fccokc-blog channel in Slack if you have any questions or want to discuss this more.

[2018-10-09 22:06] #146 closed

[2020-09-20 23:54] chris-tse commented on #107
Closing due to inactivity. This can be revisited if we decide to keep the projects page.

[2020-09-20 23:54] #107 closed

[2020-09-20 23:57] #43 closed

[2020-09-20 23:57] chris-tse commented on #43
Closing outdated issue

[2020-09-20 23:58] chris-tse commented on #39
Closing due to RIP medium blog for unknown reasons.

[2020-09-20 23:58] #39 closed

[2020-09-21 00:04] chris-tse opened #157 "Remove 'Blog' link in the navbar"
### What is the Issue?
- [ ] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [x] Is the issue an enhancement?

### Describe the Issue
The FCCOKC Medium blog got taken down for unknown reasons. It has also not been active in a long time. The link in the navbar will need to be removed.

If we have enough members to get a blog going (which is not likely), we can consider using a simp

[2020-09-21 00:06] chris-tse commented on #46
Closing due to inactivity. This can be address if there is a need for it.

[2020-09-21 00:06] #46 closed

[2020-09-21 00:19] chris-tse opened #158 "Create a "Hall of Fame" page"
### What is the Issue?

- [ ] Is the issue a bug?
- [x] Is the issue a proposed new feature?
- [ ] Is the issue an enhancement?

### Describe the Issue
~~While running and moderating an entire mentoring system is unfeasible, we can still help point folks in the right direction if they are seeking mentors or are wanting to be a mentor.~~

~~Let's create a new page where we can have a list of mentor

[2020-09-21 09:29] KafilatAdeleke commented on #157
I'm currently working on this.

[2020-10-03 01:49] stephentannersmith commented on #158
I'm gonna try to take a stab at this one. :)

[2020-10-03 02:34] chris-tse commented on #158
Go for it

[2020-10-03 02:37] #157 closed

[2020-10-17 00:01] chris-tse commented on #158
As discussed on Slack, we're going to modify what we're going with. Let's make a "Hall of Fame" for helpful folks around Techlahoma. Some high level ideas might be a page with a grid of cards of these people with some links to things like their Twitter, Github, or Slack username. Will edit this post after some brainstorming on Slack with more concrete ideas.

[2020-10-17 21:18] alex-code4okc opened #163 "Change Projects NavBar Link to Point to people.html - the Techlahoma Hall of Fame page"
Every page's NavBar will need to be updated to point to people.html page.

[2020-10-17 21:19] alex-code4okc commented on #158
Closed with #161 and #162

[2020-10-17 21:19] #158 closed

[2020-10-17 21:21] alex-code4okc commented on #21
Closed until pandemic is over. 🤞🏽

[2020-10-17 21:22] #21 closed

[2020-10-17 21:23] alex-code4okc opened #164 "Port site to fccokc_web_advanced"
### What is the Issue?

- [ ] Is the issue a bug?
- [ ] Is the issue a proposed new feature?
- [ ] Is the issue an enhancement?

### Describe the Issue

### Possible Solution

### Would this be a good first issue?

- [ ] Yes
- [ ] No

### What is the difficulty level of this issue?

- [ ] Beginner
- [ ] Intermediate
- [ ] Advanced
- [ ] Unknown

### Do you plan to work on the Issue?

### Mentions

[2020-10-18 02:38] abdulsalam0 commented on #163
Hey, can I get assigned to do this issue?

[2020-10-18 02:42] chris-tse commented on #164
Details to come

[2020-10-18 02:52] abdulsalam0 commented on #163
also, do you want the HTML to be modified so it says People in the Navbar instead of Projects

[2021-07-20 18:19] himanshu007-creator commented on #18
Hi i would like to work on this issue

[2021-07-20 18:50] chris-tse commented on #18
@himanshu007-creator Thanks for expressing interest! I'd like to give some time to see if any local members of our group would like to tackle this first.

[2021-09-29 17:44] kacollins commented on #21
Is anyone working on this? If not, @JakeFellwock would you like to?

[2021-09-29 18:03] JakeFellwock commented on #21
Yes, Ill work on this one. Thanks!